.container{
    width: 90%;
    height: 500px;
    margin: 20px auto;
    background-color: red;
}

/* inizio istruzioni card */
.card{
    width: 33%;
    height: 400px;
    position: relative;
    display: inline-block;
    background-color: blue;
}

.card img{
    width: 100%;
    height: 100%;
}

.card .heart{
    position: absolute;
    top: 15px;
    right: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #fff;
    color: black;
}

.etichette-sales{
    width: 170px;
    display: inline-block;
    position: absolute;
    bottom: 15px;
    left: 0;
    text-align: center;
}

.sales{
    font-size: 15px;
    color: #fff;
    padding: 5px;
    display: inline-block;
}

.card .sales.red{
    position: absolute;
    left: 0;
    background-color:red;
}

.card .sales.green{
   position: relative;
   left: 0;
   background-color: green;
}

/* fine istruzione card */